@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
@import url('https://fonts.googleapis.com/css2?family=Roboto');


:root{
    --nav-width: 92px;
    --bg-color: #12192C;
    --sub-color: #B6CEFC;
    --white-color: #FFF;
    --body-font: "Raleway", sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /*===== z index =====*/
    --z-fixed: 100;
}

body.sidebar-open {
    padding-left: 140px; /* Adjust as needed based on the width of your sidebar */
    transition: padding-left 0.3s ease;
}
/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: auto;
    background: #F5F5F5;
    font-family: var(--body-font);
    font: 16px/26px "Raleway", sans-serif;
    font-size: var(--normal-font-size);
    transition: .5s;
}
/* Apply styles to the placeholder text */
input::placeholder {
    font-family: 'Roboto', sans-serif; /* Use the custom font */
    font-size: 13px; /* Adjust the font size */
    color: #999; /* Adjust the color */
}