.second-container
{
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
    bottom: 100%;
}
.graph-container
{
    width: 55%;

}
.selling-container
{
    width: 20%;
}
.graph-container , .selling-container
{
    background: #FFFFFF;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */

}
.months ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.months ul li
{

    background: #f0f0f0; ;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    font-size: 14px;
}

.months li:hover,
.months li.selected {
    background-color: #0ae146;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.selling-container ul li
{
    list-style: none;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(128, 128, 128, 0.76);
}
.title-items
{
    border: 1.5px none #9f9c9c;
    border-bottom-style: solid;
    display: flex;
    align-items: center;
}
.value
{
    margin-left: auto;
    font-weight: bold;
    justify-items: center;


}
.price {
    font-weight: bold;
    margin-left: 40px;
}