/* styles.css */

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("../../components/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-input {
  margin-top: 5px; /* Adjusted margin-top value */
  background-color: #ebcc90;
  border: 1px solid;
}

.container {
  width: 500px; /* Increase container width to accommodate both box and side image */
  padding: 60px;
}

.box {
  display: flex;
  flex-direction: column; /* Adjust to column layout */
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.5); /* Set the background color with transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; /* Add transition for smooth translation */
}

.image {
  margin-bottom: 20px; /* Adjust margin for spacing */
}

.image img {
  width: 100px;
  height: 100px;
}

.side-image {
  margin-top: 20px; /* Adjust margin for spacing */
}

.side-image img {
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.switch {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; /* Adjust margin for spacing */
}

.switch button {
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  margin-right: 10px;
}

.switch button.active {
  border-color: grey;
  border-left: none;
  border-right: none;
  border-top: none;
}

.switch button:hover {
}

.submit {
  padding: 10px 60px;
  cursor:pointer;
  background-color: transparent;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 10px;
}

.submit:hover {
  background-color: #ebcc90;;
}
/* Add hover effect to the box */
.box:hover {
  transform: translateY(-5px); /* Move the box up slightly on hover */
}

/* Add styling for error and success messages */
.error-message,
.success-message {
  font-size: 0.8em; /* Adjust the font size as needed */
  color: red; /* Error message color */
  text-align: left;
  left: 100%;
  width: 100%;
}

.success-message {
  font-size: 0.9em; /* Adjust the font size as needed */
  color: green; /* Success message color */
  font-weight: bold;
}
